# SQL Part 4 Studio

For this studio, you will be working in small groups and using the BooksDB.  One group member should screen share while fellow group members code along in their own notebooks.  Each group member will submit a link to their studio notebook.

You are back at the bookstore helping employees with their inventory of books.   Four employees need your help with finding books to create in-store displays.  Read their requests and decide if you want to use a correlated subquery, nested subquery, UNION operator, EXCEPT operator, or INTERSECT operator.  You may not use any joins or add multiple statements to the WHERE clause unless explicitly asked.

## QUESTION 1:  Willow

Willow wants a list of book titles that have multiple authors attributed to them.  Write a query to return her desired results.

In [8]:
-- Code here:
SELECT TOP 5 b.title, b.authors
FROM books AS b
WHERE authors IN 
    (SELECT b.authors
    FROM books AS b
    WHERE authors LIKE '%,%')

title,authors
"Harry Potter and the Sorcerer's Stone (Harry Potter, #1)","J.K. Rowling, Mary GrandPré"
"Harry Potter and the Order of the Phoenix (Harry Potter, #5)","J.K. Rowling, Mary GrandPré"
"Harry Potter and the Chamber of Secrets (Harry Potter, #2)","J.K. Rowling, Mary GrandPré"
"Harry Potter and the Goblet of Fire (Harry Potter, #4)","J.K. Rowling, Mary GrandPré"
"Harry Potter and the Deathly Hallows (Harry Potter, #7)","J.K. Rowling, Mary GrandPré"

## QUESTION 2: Ira

Ira was asked by a customer for titles that have been tagged "Meditation".  As you create a query for Ira, think about how the tables in BooksDB are organized as you write your query.

In [14]:
-- Code here:
SELECT TOP 5 b.title
FROM books AS b
WHERE b.book_id IN
    (SELECT bt.goodreads_book_id
    FROM book_tags AS bt
    WHERE bt.tag_id = 
        (SELECT t.tag_id
        FROM tags AS t
        WHERE t.tag_name = 'Meditation'))

title
Way of the Peaceful Warrior: A Book That Changes Lives
The Four Agreements: A Practical Guide to Personal Freedom
The Power of Now: A Guide to Spiritual Enlightenment
"Practicing the Power of Now: Essential Teachings, Meditations, and Exercises from the Power of Now"
Awakening the Buddha Within: Tibetan Wisdom for the Western World

## QUESTION 3:  Alyce

Alyce wants to create a display of books with an average rating of 4.2 or higher, but she only wants books that share both title and original title.  Write a query that displays both the original title and title for Alyce, in descending order by rating.  Make sure that none of the original titles contain NULL values either.

In [18]:
-- Code here:
SELECT TOP 5 b.title, b.original_title, b.average_rating
FROM books AS b
WHERE b.title = b.original_title 
    AND b.average_rating > 4.2 
    AND b.original_title IS NOT NULL
ORDER BY b.average_rating DESC

title,original_title,average_rating
The Complete Calvin and Hobbes,The Complete Calvin and Hobbes,4.82
Mark of the Lion Trilogy,Mark of the Lion Trilogy,4.76
It's a Magical World: A Calvin and Hobbes Collection,It's a Magical World: A Calvin and Hobbes Collection,4.75
There's Treasure Everywhere: A Calvin and Hobbes Collection,There's Treasure Everywhere: A Calvin and Hobbes Collection,4.74
"Harry Potter Collection (Harry Potter, #1-6)","Harry Potter Collection (Harry Potter, #1-6)",4.73

## QUESTION 4:  Thisbe

Thisbe is planning to make a long-term display of popular books that she will update monthly, reflecting different time periods.  She wants to make it reader-centric by including titles that readers have averagely rated higher than the book's actual average rating. 

**Part A:**   Write a query that compares the publication time with average reader ratings.

**Part B:**  She wants the list ordered by year, then the book title

In [19]:
-- Code here:
SELECT TOP 5 b.title, b.original_publication_year, b.average_rating
FROM books AS b
WHERE b.title

title,original_publication_year,average_rating
"The Hunger Games (The Hunger Games, #1)",2008,4.34
"Harry Potter and the Sorcerer's Stone (Harry Potter, #1)",1997,4.44
"Twilight (Twilight, #1)",2005,3.57
To Kill a Mockingbird,1960,4.25
The Great Gatsby,1925,3.89